body {
  font-family: "Roboto Slab", serif;
}

.backgroud {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../imgs/capa3.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.header {
  height: 7vh;
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menuToggle input {
  display: none;
}

.logo img {
  margin-left: 1rem;
  font-size: 40px;
  width: 4rem;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

li {
  margin-right: 2rem;
}
li a {
  text-decoration: none;
  color: #f7f8fc;
  font-size: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.create {
  margin-top: 4rem;
}

.mainButton {
  background-color: rgb(184, 21, 21);
  border: none;
  padding: 1rem 2rem;
  font-size: 5rem;
  border-radius: 60px;
  cursor: pointer;
}

.loginSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.loginForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  padding: 2rem 2rem;
  color: rgb(230, 27, 27);
  align-items: center;
  justify-content: space-evenly;
  border-radius: 40px;
  font-size: 3rem;
}

.loginForm input {
  padding: 0.5rem 2rem;
  max-width: 10vw;
  border-radius: 40px;
  border: 2px solid red;
  font-size: 2rem;
}

.fButton {
  margin-top: 1rem;
  background-color: rgb(230, 27, 27);
}

.createSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  opacity: 0;
  z-index: -2;
}

@media (max-width: 750px) {
  span {
    position: relative;
    top: -23px;
    right: 0px;
    display: block;
    width: 2.2rem;
    height: 0.3rem;
    margin-bottom: 6px;
    margin-right: 6px;
    border-radius: 3px;
    background: rgb(230, 27, 27);
    z-index: 1;
    transform-origin: 0px 0px;
    transition: transform 0.5s ease, background 0.5s ease, opacity 0.55s ease;
  }
  span:first-child {
    transform-origin: 0% 0%;
  }
  span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input {
    position: relative;
    top: 12px;
    right: 7px;
    display: block !important;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: rgb(230, 27, 27);
  }

  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu {
    position: absolute;
    top: -16px;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: translate(0, -100%);
    background-color: rgb(43, 43, 43);
    transition: all 0.4s ease-in;
    z-index: 0;
    opacity: 0;
  }
  input:checked ~ ul {
    transform: translate(0, 0);
    opacity: 1;
  }

  ul {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mainButton {
    font-size: 4rem;
  }

  .loginForm {
    height: 70vh;
    width: 90vw;
  }
  .loginForm input {
    width: 80vw;
    height: auto;
    max-width: none;
  }
}
