.backgroud {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../imgs/capa3.png);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.header {
  height: 7vh;
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  margin-left: 1rem;
  font-size: 40px;
  width: 4rem;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

li {
  margin-right: 2rem;
}
li a {
  text-decoration: none;
  color: rgb(187, 42, 42);
  font-size: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.create {
  margin-top: 4rem;
}

.mainButton {
  background-color: rgb(184, 21, 21);
  border: none;
  padding: 1rem 2rem;
  font-size: 5rem;
  border-radius: 60px;
  cursor: pointer;
}

.loginSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.loginForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  height: 40vh;
  width: 15vw;
  color: rgb(230, 27, 27);
  align-items: center;
  justify-content: space-evenly;
  border-radius: 40px;
  font-size: 3rem;
}

.loginForm input {
  padding: 0.5rem 2rem;
  max-width: 10vw;
  border-radius: 40px;
  border: 2px solid red;
  font-size: 2rem;
}

.fButton {
  background-color: rgb(230, 27, 27);
}

.hidden {
  opacity: 0;
  z-index: -2;
}
